# Build directories at any level
**/build/
**/bin/
**/out/
**/dist/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out

# VS Code settings (optional)
.vscode/settings.json


# Core dumps
core
*.core

# Swap files and temporary files
*.swp
*.swo
*~

# Logs
*.log

# Shared objects and libraries
*.so
*.so.*

# Kernel modules
*.ko

# Ignorar archivos compilados de Erlang
*.beam
